@import 'mixins';
@import 'variables';

%container-style {
    @include flexbox(column, center, center);
}

%button-style {
    width: 100px;
    height: 30px;
    border-radius: 6px;
}

%input-style {
    height: 30px;
    padding: 10px 15px;
    border: 2px solid $input-color-valid;
    border-radius: 7px;
    &:focus {
        border-color: $first-color;
    }
    &:invalid {
        border-color: $color-danger;
    }
}

.validation-error {
    border-color: $color-danger !important;
}

.validation-block {
    position: relative;
    top: 5px;
    font-size: 11px;
    color: red;

    &::before {
        content: "*Error: ";
    }
}