$first-color: #6200EE;
$second-color: #3700B3;
$item-color: white;
$top-rated-course: linear-gradient(0.15turn, white 50%, $second-color);
$block-color: #f5f6f7;
$color-danger: #C51162;
$color-blue: #3893e8;
$color-caution: #FFBF3A;
$input-color-valid: #77ab59;