$header-color: #f5f6f7;
$grey-font-color: #424242;
$catalog-brown: #aa9b77;
$button-color-danger: #ba160c;
$button-color-add: #3893e8;
$button-color-caution: #FFC900;
$top-rated-course: #F0BA44;
$input-color-valid: #77ab59;