<div class="auth-container">
  <div class="auth-block">
    <h2 class="title">Auth</h2>
    <div class="line"></div>
    <form class="form">
      <label>
        Login: *required
        <input type="text" [(ngModel)]="login" name="login" required>
      </label>
      <label>
          Password: *required
          <input type="password" [(ngModel)]="password" name="password" required>
      </label>
      <button (click)="auth()" class="btn btn-login">Login</button>
    </form>
  </div>
</div>