@import '../../../../assets/scss/common';

.header {
   width: 100%;
   height: 80px;
   padding: 0 25px;
   background-color: $first-color;
   box-shadow: 1px 1px 10px 3px #ccc;
   color: white;
   @include flexbox(row, space-between, center);
}