<form class="form">
  <label>
    <h3 i18n="Course date@@itemFormDate">Date:</h3>
    <input 
      [formControl]="dateControl"
      [value]="dateControl.value | date:'yyyy-MM-dd'"
      (change)="onChange($event.target.value)"
      type="date"
      name="creationDate"
      [ngClass]="dateControl.errors? 'validation-error' : ''"
    >
    <div class="validation-block" *ngIf="dateControl.errors && dateControl.touched">
      {{ dateControl.errors.require || dateControl.errors.date }}
    </div>
  </label>
</form>