<form class="form">
  <label>
    <h3 i18n="Course authors@@itemFormAuthors">Authors:</h3>
    <div [ngClass]="!choosedAuthors.length? 'validation-error' : ''" class="authors-block">
        <ul class="tags-authors">
          <li (click)="delete(item)" *ngFor="let item of choosedAuthors">{{item.name}}</li>
        </ul>
        <input 
        class="input"
        [formControl]="authorsControl"
        type="text"
        name="authors"
        maxlength="30">
    </div>
    <div 
      class="validation-block" 
      *ngIf="!choosedAuthors.length"
      i18n="Validation error|Validation error in authors@@validationErrorAuthors">
      This field is required and must have min 1 author
    </div>
  </label>
  <div class="authors-list" *ngIf="authorsControl.value">
    <div (click)="add(item)" *ngFor="let item of authorsList">{{ item.name }}</div>
  </div>
</form>