@import '../../../../assets/scss/common';

.container {
    width: 1000px;
    margin-top: 25px;
    @include flexbox(row, space-between, center);
}

.form {
    width: 350px;
    @include flexbox(row, space-between, center); 
}

.input {
    @extend %input-style;
    width: 100%;
    background-color: #fff;
}

.btn {
    @extend %button-style; 
    color: white;
    color: white;

    &-search {
        background-color: $color-danger;
        
    }

    &-add {
        background-color: $color-blue;
        
    }
}