<div class="form-container">
  <form class="form">
      <label>
        <h3>Title:</h3>
        <input type="text" [(ngModel)]="course.title" name="title" required>
      </label>
      <label>
          <h3>Description:</h3>
          <textarea [(ngModel)]="course.description" type="text" name="description"></textarea>
      </label>
      <at-form-date [creationDate]="course.creationDate"></at-form-date>
      <at-form-duration [duration]="course.duration"></at-form-duration>
      <label>
          <h3>Authors:</h3>
          <input [(ngModel)]="course.authors" type="text" name="authors" required>
      </label>
      <div class="button-box">
        <button (click)="save()" class='btn btn-save'>Save</button>
        <button (click)="cancel()" class='btn btn-cancel'>Cancel</button>
      </div>
  </form>
</div>