<div class="form-container">
  <form class="form" (submit)="save()" [formGroup]="itemForm">
      <label>
        <h3>Title:</h3>
        <input type="text" name="title" [formControl]="titleControl" required>
      </label>
      <label>
          <h3>Description:</h3>
          <textarea type="text" name="description" [formControl]="descriptionControl"></textarea>
      </label>
      <at-form-date [formControl]="dateControl"></at-form-date>
      <at-form-duration [formControl]="lengthControl"></at-form-duration>
      <label>
          <h3>Authors:</h3>
          <input type="text" name="authors" [formControl]="authorsControl" required>
      </label>
      <div class="button-box">
        <button type="submit" class='btn btn-save'>Save</button>
        <button type="button" (click)="cancel()" class='btn btn-cancel'>Cancel</button>
      </div>
  </form>
</div>