<div class="container">
  <form class="form">
    <label>
      <h3>Duration:</h3>
      <input 
        [formControl]="lengthControl" 
        [ngClass]="lengthControl.errors ? 'validation-error' : ''"
        (change)="onChange($event.target.value)" 
        type="text" 
        name="duration">
      <div class="validation-block" *ngIf="lengthControl.errors && lengthControl.touched">
          Length is require and must be only numbers
      </div>
    </label>
  </form>
 <div class="duration">{{ lengthControl.value | duration }}</div>
</div>
