@import '../../../../assets/scss/common';

.container {
    width: 400px;
    @include flexbox(row, space-between, center);
}

.form {
    width: 100%;
    height: 100%;
    @include flexbox(column, space-between, flex-start);

    label {
        width: 100%;
        @include flexbox(column, space-between, flex-start);
        margin: 20px 0px;
    }

    input {
        @extend %input-style;
        width: 300px;
        margin-top: 10px;
    }

}

.duration {
    width: 100px;
    text-align: right;
    font-weight: bold;
    margin-top: 30px;
}