<main class="container">
    <at-title [title]="title"></at-title>
    <at-toolbox (searchEventField)="search($event)"></at-toolbox>
    <div class="container-item">
        <at-item 
            *ngFor="let course of courseList | orderBy:'date'"
            (deleteCourseEvent)="deleteCourse($event)"
            (editCourseEvent)="editCourse($event)"
            [course]="course"
            [atFresh]="course.date"
        ></at-item>
    </div>
    <div *ngIf="!courseList.length" class="container-error" >No data. Feel free to add new course</div>
    <button (click)="loadMore()" class='btn'>Load more</button>
</main>