<div class="item" [ngClass]="course.isTopRated? 'top' : null">
  <div class="info">
    <header class="info-header">
      <h2>{{course.name| uppercase}}<span *ngIf="course.isTopRated">☆</span></h2>
      <div class="info-header-sign">
        <div class="info-header-sign__duration">{{course.length | duration}}</div>
        <div class="info-header-sign__datastamp">{{course.date | date:'dd/MM/yyyy'}}</div>
      </div>
    </header>
    <div class="info-caption">{{course.description}}</div>
  </div>
  <div class="dashboard">
    <button (click)="save()" class="btn btn-edit">Edit</button>
    <button (click)="delete()" class="btn btn-delete">Delete</button>
  </div>
</div>
