@import '../../../../assets/scss/common';

.item {
    @include flexbox(row, space-between, center);
    width: 1000px;
    min-height: 90px;
    max-height: 150px;
    margin: 10px 0;
    padding: 20px 15px;
    color: black;
    border-radius: 10px;
    box-shadow: 1px 1px 4px 0px #ccc;
    border: .5px solid opacify(#ccc, 0.5);
    background-color: $item-color;

    .info {
        width: 80%;
        margin-left: 15px; 
        @include flexbox(column, space-between, center);

        &-caption {
            width: 100%;
            margin-top: 10px;
        }

        &-header {
            width: 100%;
            @include flexbox(row, space-between, center);  

            &-sign {
                width: 25%;
                @include flexbox(row, space-between, center);   
            }
        }
    }

    .dashboard {
        width: 10%;
        height: 70px;
        @include flexbox(column, space-between, center);

        .btn {
            @extend %button-style;
            color: white;
        }
    }
}

.btn-edit {
    background-color: $color-caution;
}

.btn-delete {
    background-color: $color-danger;
}

.top {
    background-image: $top-rated-course;
}