<div class="item">
  <div class="info">
    <header class="info-header">
      <h2>{{course?.title}}</h2>
      <div class="info-header-sign">
        <div class="info-header-sign__duration">{{course?.duration}}</div>
        <div class="info-header-sign__datastamp">{{course?.creationDate}}</div>
      </div>
    </header>
    <div class="info-caption">{{course?.description}}</div>
  </div>
  <div class="dashboard">
    <button class="btn btn-edit">Edit</button>
    <button (click)="deleteCourse()" class="btn btn-delete">Delete</button>
  </div>
</div>
